@page "/archive/DeployingToAzure"

<PageTitle>Domains</PageTitle>

<FrostCollapse Title="Deploying a WebApp to Azure">
    <p>
        If you work primarily in .NET, chances are you're used Microsoft's Visual Studio, and I will continue to assume you are, because it is really easy.

        First, head over to <a href="https://azure.microsoft.com/en-us/">Azure</a>, if you don't have an account make one.

        Now that you have a subscription, you can create resouces, Web App being the one we want to move forward with. 
        
        Then, head over to Visual Studio, right click on your project, it will bring up a menu and near the top of it you will see Publish, click that and go ahead and pick your resources.
        
        That's it. Once it's published it should open a browser to the default URL it provisions.


        From here on, you're free to explore Azure, if you're intention is to Host on Azure, I recommend upgrading your subscription plan so that you can customize your domain, and don't 
        forget to grab an SSL certificate, and be sure to checkout the new <a href="https://azure.microsoft.com/en-us/services/signalr-service/#overview">SignlaR</a> feature. 
    </p> 
</FrostCollapse>