@page "/archive/Domains"

<PageTitle>Domains</PageTitle>

<FrostCollapse Title="Purchasing a plot of internet.">
    <p>
        Just to be transparent, here is another DRY piece, so <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">don't repeat yourself.</a>
        <br />
        <br />
        A domain, simply refers to a named IP Address, much like our address is home, and our parent's home is exactly that, no numbers involved. In networking, this is known as the DNS, the Domain Name System.
        We always wan't to becareful who we give this information out too, ultimately it's something that is easily aquired, we still always want do our best out of concern for safety and to remain secure in principal.
        It's also much nicer for those cases where we do need to share that information, because a named web page is far easier to remember and visit than a four byte octet. 
        <br />
        <br />
        So how do you get one? It's quite simple, head over to the webpage and see if someone owns it and if they'll sell it. Good luck buying Google! Speaking of, you could also buy one through Google,
        among many other providers. Once you successfully own the domain you're free to build whatever you'd like on it.
        <br />
        A website, an API, use it for emails, or anything you could think of using your domain for!
</p> 
</FrostCollapse>