@page "/archive/SSLCertification"

<PageTitle>SSL Certification</PageTitle>

<FrostCollapse Title="Securing your domain">
    <p>
    I'm not going to lie, this part is as interesting as you make it, ultimately, I'm just trying to concentrate <a href="https://datatracker.ietf.org/doc/html/rfc6101">RFC6101</a> as much as possible, hopefully
    making it understanble at a high level.
       <br />
       <br />
      I love anecdotes, so allow me to put it anecdotally. Imagine you're going to an interview, it started wih "Hello" and now you've applied, done your homework. Having done something before does not
      mean you can do it again. So what is the real point of the interview? It's to make sure that shoe fits. You have a conversation, ask questions and get a feel for the person infront of you. You put the shoe on,
      one at a time, walk around, take a few hops, if something does not feel right, maybe its not the right shoe for you. In respect to the Secure Socket Layer, or I guess a Secure Shoe Layer with respect to my anecdote...you would
      be rejected. Your site will be marked as not secure, and could have an impact on who you are allowed to speak to, open toe shoes are not allowed. 
        <br />
        <br />
        Now, if everything checks out, take a look at the lock icon on your navigation bar. Your reward be a lock, a badge that shows your site is secure, and that data is being encrypted. This gives you and anyone
        you communicate a clear indication that they are in good hands, the shoe doesn't just fit, it makes you run faster, cover longer distances, and even lets you jump higher with softer landings so never feel any pain.
        We call that acknowledgement, with repect to the Secure Socket Layer, that's a cool shoe. With that acknowledgment comes a SSL Handshake or TLS Handshake if you're hip, cool, and upto date! Session keys are created and
        which cipher is going to be used. Turning a simple hello into something unintelligible. 
      <br />
    </p>
 

</FrostCollapse>