@using Microsoft.AspNetCore.Components.Web
@namespace FrostSec.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="FrostSec.styles.css" rel="stylesheet" />
    <link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <div class="io lightbulb-alt-on" style="height:50px;width:50px;"></div>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
    var bg = '#e3f3f8';
        function LightsOff(){
            document.body.style.backgroundColor = "#242424";
            document.body.style.color = "white";
            bg = '#242424';
            return "#242424";
        }
        function LightsOn(){
            document.body.style.backgroundColor = "#e3f3f8";
            document.body.style.color = "#462f65";
            bg = '#e3f3f8';
            return "#e3f3f8";
        }

        function GetDarkMode(){
            return bg;
        }
    </script>
</body>
</html>


<style>
    body{
        background-color:#e3f3f8;
        color:#462f65;
    }
    .modal-content{
        background-color:#e3f3f8;
    }
</style>
