@page "/contactme"
<PageTitle>Contact Chris</PageTitle>

<Card>
    <div>
        <label>
            <div class=text-center>Email</div>
            <input type="text"/>
        </label>
    </div>
    <div class="text-center">
        <Socials/>
    </div>
</Card>


<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>