@page "/"
<PageTitle >Home</PageTitle>

<img class="center logo" src="logo.svg"/>
<div class="col-4 center push text-center">
</div>

<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .push{
        bottom:6rem;
        position:relative
    }
    .logo{
        width:500px;
        height:500px;
    }

</style>

<code>
@*        <h1 class="text-center">Christian Enamorado</h1>
    <h3 class="text-center">Development fueled by intuition.</h3>
*@
@*        <p class="text-center">
        For nearly 15 years, yes, 15. I have been learning to develop largely on my own, fueled not only by my own intuition, but my passion for technlogy and code.
        Work never satisfies my hunger to learn and only leaves me only craving more. So here I raise my barrier, here I fly my rune high.
        </p>*@
</code>