@page "/"
<PageTitle >Home</PageTitle>

<img class="center logo" src="logo.svg"/>
<div class="col-4 center push text-center mt-3">

   <iframe width="560" height="315" src="https://www.youtube.com/embed/4qOeZzZh9MM?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .push{
        bottom:6rem;
        position:relative
    }
    .logo{
        width:500px;
        height:500px;
    }
    p{
        color:#fcb514;
    }
</style>

<code>

</code>