<div class="frostsec-navbar-dark text-center">

    <div class="frost-nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div class="frost-nav-item">
        <NavLink class="nav-link" href="fun" Match="NavLinkMatch.All">
            <span class="oi oi-wrench" aria-hidden="true"></span> Fun
        </NavLink>
    </div>

    <div class="frost-nav-item">
        <NavLink class="nav-link" href="contactme" Match="NavLinkMatch.All">
            <span class="oi oi-terminal" aria-hidden="true"></span> Contact Me
        </NavLink>
    </div>
</div>
<style>

    .frostsec-navbar-dark{
        background-color: #0197db;
        display: block ruby;
    }

    .frost-nav-item[b-9eqa5kfljg] a{
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .frost-nav-item[b-9eqa5kfljg] a.active{
        color: #6513c2;
    }

    .frost-nav-item[b-9eqa5kfljg] a:hover{
        color: #dfb8fb;
    }
</style>

