<div class="frostsec-navbar text-center flex-container">
    <div class="row frost-row m-auto">
        <div class="frost-nav-item col m-auto">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home p-2" aria-hidden="true"/> Home
            </NavLink>
        </div>
        <div class="frost-nav-item col m-auto">
            <NavLink class="nav-link" href="archive" Match="NavLinkMatch.Prefix" ActiveClass="active">
                <span class="oi oi-wrench p-2" aria-hidden="true"/> Fun 
            </NavLink>
        </div>
        <div class="frost-nav-item col m-auto">
            <NavLink class="nav-link" href="contactme" Match="NavLinkMatch.All">
                <span class="oi oi-terminal p-2" aria-hidden="true"/> Contact
            </NavLink>
        </div>
    </div>
</div>
<style>
    .frost-row{
        width:25%;
    }
    .frostsec-navbar{
        background-color: #0197db;
    }

    .frost-nav-item[b-9eqa5kfljg] a{
        color: white;
        height: 3rem;
        align-items: center;
        line-height: 3rem;
    }

    .frost-nav-item[b-9eqa5kfljg] a.active {
        color: #462f65;
    }

    .frost-nav-item[b-9eqa5kfljg] a:hover{
        color: #dfb8fb;
    }

    .active {
        color: #462f65;
    }


</style>
