<a href="archive/@Component.Title.Replace(" ", "")">
    <div class="@Component.CSSClass book m-auto">
        <div class="m-auto text-center frost-text-wrap">
            <h5 class="frost-text-wrap">@Component.Title</h5>
        </div>

    </div>
</a>
<style>
    .book{
        height:300px;
        width:13vw;
        background-image:url("purpleGradLogoDiamonds.png");
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .text{
        color:white;
        /*transform:rotate(90deg);*/
        position: relative;
        /*right: 8px;*/
   }
    a:link {
        text-decoration: none;
    }
</style>

@code{
    [Parameter]public IShelfComponent? Component{ get; set; }
}