@media (max-width: 500px) {
    .AzureDeployment {
        background-color: darkgreen;
    }

    .ShelfComp {
        background-color: darkcyan;
    }

    .a {
        background-color: violet;
    }

    .b {
        background-color: orchid;
    }
}
