@media (max-width: 500px) {
    .book {
        height: 300px;
        width: 13vw;
        background-image: url("purpleGradLogoDiamonds.png");
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
