<div class="shelf m-auto">
    <div class="flex-container m-auto">
        <div class="row w-100 mt-4">
            @foreach(Book book in Books)
            {
                <div class="col-2 m-auto">
                    <ShelfBookComponent Book="@book">
                        <p class="frost-text-wrap">@book.Title</p>
                    </ShelfBookComponent>
                </div>
            }
        </div>
    </div>
 </div>
<style>
    .shelf{
        height:100%;
        width:75%;
    }
    p{
        color:white;
    }
</style>

@code{
    [Parameter]public List<Book> Books{ get; set; }
}