<div class="shelf m-auto">
    <div class="flex-container m-auto">
        <div class="row mt-4">
            @foreach(IShelfComponent component in Components)
            {
                <div class="col-2 m-auto">
                    <ShelfBookComponent Component="@component"/>
                </div>
            }
        </div>
    </div>
 </div>
<style>
    .shelf{
        height:100%;
        width:75%;
    }
    h5{
        color:white;
    }
</style>

@code{
    [Parameter]public List<IShelfComponent>? Components{ get; set; }
}