<ul>
    <li>
        <a href="https://github.com/cenamorado3">
            <img src="github.svg" width="20px" height="20px"/>
        </a>
    </li>
        <li>
        <a href="https://www.linkedin.com/in/cenamorado/">
            <img src="LinkedIn.png" width="20px" height="20px"/>
        </a>
    </li>
    <li>
        <a href="EnamoradoChristian.pdf" download>
        <div class="oi oi-document resume"></div>
        </a>
    </li>

</ul>


<style>
    ul li{
        display:inline-block;
        margin:2px;
    }
    .resume{
        color:black;
        top:5px;
    }
</style>
@code {

}
